body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-182px;
  width:2481px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1169px;
}
#u641 {
  position:absolute;
  left:866px;
  top:38px;
  width:376px;
  height:1169px;
}
#u642 {
  position:absolute;
  left:2px;
  top:576px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:547px;
}
#u643 {
  position:absolute;
  left:1594px;
  top:110px;
  width:303px;
  height:547px;
}
#u644 {
  position:absolute;
  left:2px;
  top:266px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:288px;
}
#u645 {
  position:absolute;
  left:1594px;
  top:657px;
  width:303px;
  height:288px;
}
#u646 {
  position:absolute;
  left:2px;
  top:136px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u648 {
  position:absolute;
  left:182px;
  top:134px;
  width:375px;
  height:667px;
}
#u649 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:29px;
}
#u650 {
  position:absolute;
  left:496px;
  top:566px;
  width:28px;
  height:29px;
}
#u651 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u652 {
  position:absolute;
  left:483px;
  top:614px;
  width:54px;
  height:17px;
}
#u653 {
  position:absolute;
  left:2px;
  top:0px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
}
#u654 {
  position:absolute;
  left:2266px;
  top:234px;
  width:375px;
  height:55px;
}
#u655 {
  position:absolute;
  left:2px;
  top:20px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:75px;
}
#u656 {
  position:absolute;
  left:2266px;
  top:159px;
  width:375px;
  height:75px;
}
#u657 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:61px;
}
#u658 {
  position:absolute;
  left:2266px;
  top:289px;
  width:375px;
  height:61px;
}
#u659 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
}
#u660 {
  position:absolute;
  left:2266px;
  top:349px;
  width:375px;
  height:51px;
}
#u661 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u662 {
  position:absolute;
  left:2266px;
  top:399px;
  width:375px;
  height:64px;
}
#u663 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u664 {
  position:absolute;
  left:2266px;
  top:517px;
  width:375px;
  height:50px;
}
#u665 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:81px;
}
#u666 {
  position:absolute;
  left:2266px;
  top:838px;
  width:375px;
  height:81px;
}
#u667 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FB5C5F;
}
#u668 {
  position:absolute;
  left:2300px;
  top:243px;
  width:117px;
  height:35px;
  font-size:15px;
  color:#FB5C5F;
}
#u669 {
  position:absolute;
  left:2px;
  top:9px;
  width:113px;
  word-wrap:break-word;
}
#u670 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:54px;
}
#u671 {
  position:absolute;
  left:2266px;
  top:566px;
  width:375px;
  height:54px;
}
#u672 {
  position:absolute;
  left:2px;
  top:19px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u673 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  text-align:left;
}
#u674 {
  position:absolute;
  left:2280px;
  top:572px;
  width:191px;
  height:39px;
  font-size:15px;
  text-align:left;
}
#u675 {
  position:absolute;
  left:2px;
  top:11px;
  width:187px;
  word-wrap:break-word;
}
#u676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u676 {
  position:absolute;
  left:2347px;
  top:580px;
  width:28px;
  height:25px;
}
#u677 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:62px;
}
#u678 {
  position:absolute;
  left:2266px;
  top:625px;
  width:375px;
  height:62px;
}
#u679 {
  position:absolute;
  left:2px;
  top:23px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(247, 246, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u680 {
  position:absolute;
  left:2270px;
  top:659px;
  width:375px;
  height:20px;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u681 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  word-wrap:break-word;
}
#u682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u682 {
  position:absolute;
  left:2266px;
  top:523px;
  width:147px;
  height:35px;
  font-size:15px;
}
#u683 {
  position:absolute;
  left:2px;
  top:9px;
  width:143px;
  word-wrap:break-word;
}
#u684 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:54px;
}
#u685 {
  position:absolute;
  left:2266px;
  top:461px;
  width:375px;
  height:54px;
}
#u686 {
  position:absolute;
  left:2px;
  top:19px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  text-align:left;
}
#u688 {
  position:absolute;
  left:2280px;
  top:467px;
  width:191px;
  height:39px;
  font-size:15px;
  text-align:left;
}
#u689 {
  position:absolute;
  left:2px;
  top:11px;
  width:187px;
  word-wrap:break-word;
}
#u690 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  text-align:right;
}
#u691 {
  position:absolute;
  left:2443px;
  top:467px;
  width:191px;
  height:39px;
  font-size:15px;
  text-align:right;
}
#u692 {
  position:absolute;
  left:2px;
  top:11px;
  width:187px;
  word-wrap:break-word;
}
#u693 {
  position:absolute;
  left:1209px;
  top:973px;
  width:0px;
  height:0px;
}
#u693_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:1249px;
  height:8px;
}
#u693_seg1 {
  position:absolute;
  left:1241px;
  top:-54px;
  width:8px;
  height:58px;
}
#u693_seg2 {
  position:absolute;
  left:1235px;
  top:-59px;
  width:20px;
  height:20px;
}
#u694 {
  position:absolute;
  left:600px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:148px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-align:left;
}
#u695 {
  position:absolute;
  left:196px;
  top:996px;
  width:530px;
  height:148px;
  font-size:28px;
  text-align:left;
}
#u696 {
  position:absolute;
  left:2px;
  top:2px;
  width:526px;
  word-wrap:break-word;
}
#u697 {
  position:absolute;
  left:1221px;
  top:501px;
  width:0px;
  height:0px;
}
#u697_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:373px;
  height:8px;
}
#u697_seg1 {
  position:absolute;
  left:354px;
  top:-10px;
  width:20px;
  height:20px;
}
#u698 {
  position:absolute;
  left:134px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699 {
  position:absolute;
  left:1897px;
  top:801px;
  width:0px;
  height:0px;
}
#u699_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:357px;
  height:8px;
}
#u699_seg1 {
  position:absolute;
  left:349px;
  top:-317px;
  width:8px;
  height:321px;
}
#u699_seg2 {
  position:absolute;
  left:349px;
  top:-317px;
  width:20px;
  height:8px;
}
#u699_seg3 {
  position:absolute;
  left:354px;
  top:-323px;
  width:20px;
  height:20px;
}
#u700 {
  position:absolute;
  left:291px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u701 {
  position:absolute;
  left:537px;
  top:623px;
  width:0px;
  height:0px;
}
#u701_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:333px;
  height:8px;
}
#u701_seg1 {
  position:absolute;
  left:-3px;
  top:-10px;
  width:20px;
  height:20px;
}
#u701_seg2 {
  position:absolute;
  left:314px;
  top:-10px;
  width:20px;
  height:20px;
}
#u702 {
  position:absolute;
  left:114px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:75px;
}
#u703 {
  position:absolute;
  left:1594px;
  top:1155px;
  width:375px;
  height:75px;
}
#u704 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:29px;
  background:inherit;
  background-color:rgba(254, 126, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u705 {
  position:absolute;
  left:1731px;
  top:1190px;
  width:107px;
  height:29px;
  font-size:16px;
  color:#FFFFFF;
}
#u706 {
  position:absolute;
  left:2px;
  top:5px;
  width:103px;
  word-wrap:break-word;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:254px;
}
#u707 {
  position:absolute;
  left:1594px;
  top:1230px;
  width:375px;
  height:254px;
}
#u708 {
  position:absolute;
  left:2px;
  top:119px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:169px;
}
#u709 {
  position:absolute;
  left:1594px;
  top:1537px;
  width:375px;
  height:169px;
}
#u710 {
  position:absolute;
  left:2px;
  top:76px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:54px;
}
#u711 {
  position:absolute;
  left:1594px;
  top:1655px;
  width:375px;
  height:54px;
}
#u712 {
  position:absolute;
  left:2px;
  top:19px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:56px;
}
#u713 {
  position:absolute;
  left:1594px;
  top:1483px;
  width:375px;
  height:56px;
}
#u714 {
  position:absolute;
  left:2px;
  top:20px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:58px;
}
#u715 {
  position:absolute;
  left:1594px;
  top:1709px;
  width:375px;
  height:58px;
}
#u716 {
  position:absolute;
  left:2px;
  top:21px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  text-align:left;
}
#u717 {
  position:absolute;
  left:1641px;
  top:1555px;
  width:300px;
  height:35px;
  font-size:17px;
  text-align:left;
}
#u718 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u719 {
  position:absolute;
  left:1780px;
  top:1493px;
  width:166px;
  height:35px;
  font-size:16px;
  text-align:left;
}
#u720 {
  position:absolute;
  left:2px;
  top:8px;
  width:162px;
  word-wrap:break-word;
}
#u721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u721 {
  position:absolute;
  left:1606px;
  top:1665px;
  width:84px;
  height:35px;
  font-size:16px;
  text-align:left;
}
#u722 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:81px;
}
#u723 {
  position:absolute;
  left:1594px;
  top:1775px;
  width:375px;
  height:81px;
}
#u724 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:35px;
  background:inherit;
  background-color:rgba(251, 92, 96, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u725 {
  position:absolute;
  left:1708px;
  top:1798px;
  width:166px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u726 {
  position:absolute;
  left:2px;
  top:8px;
  width:162px;
  word-wrap:break-word;
}
#u727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:7px;
}
#u727 {
  position:absolute;
  left:2226px;
  top:1353px;
  width:375px;
  height:7px;
}
#u728 {
  position:absolute;
  left:2px;
  top:-4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:261px;
}
#u729 {
  position:absolute;
  left:2226px;
  top:1360px;
  width:375px;
  height:261px;
}
#u730 {
  position:absolute;
  left:2px;
  top:122px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:201px;
}
#u731 {
  position:absolute;
  left:2226px;
  top:1621px;
  width:375px;
  height:201px;
}
#u732 {
  position:absolute;
  left:2px;
  top:92px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:75px;
}
#u733 {
  position:absolute;
  left:2226px;
  top:1154px;
  width:375px;
  height:75px;
}
#u734 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:29px;
  background:inherit;
  background-color:rgba(254, 126, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u735 {
  position:absolute;
  left:2360px;
  top:1190px;
  width:107px;
  height:29px;
  font-size:16px;
  color:#FFFFFF;
}
#u736 {
  position:absolute;
  left:2px;
  top:5px;
  width:103px;
  word-wrap:break-word;
}
#u737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:124px;
}
#u737 {
  position:absolute;
  left:2226px;
  top:1229px;
  width:99px;
  height:124px;
}
#u738 {
  position:absolute;
  left:2px;
  top:54px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:124px;
}
#u739 {
  position:absolute;
  left:2231px;
  top:1229px;
  width:276px;
  height:124px;
}
#u740 {
  position:absolute;
  left:2px;
  top:54px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:117px;
}
#u741 {
  position:absolute;
  left:2475px;
  top:1233px;
  width:126px;
  height:117px;
}
#u742 {
  position:absolute;
  left:2px;
  top:50px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:81px;
}
#u743 {
  position:absolute;
  left:2240px;
  top:1621px;
  width:165px;
  height:81px;
}
#u744 {
  position:absolute;
  left:2px;
  top:32px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:81px;
}
#u745 {
  position:absolute;
  left:2424px;
  top:1621px;
  width:165px;
  height:81px;
}
#u746 {
  position:absolute;
  left:2px;
  top:32px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:35px;
  background:inherit;
  background-color:rgba(251, 92, 96, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u747 {
  position:absolute;
  left:2251px;
  top:1643px;
  width:143px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u748 {
  position:absolute;
  left:2px;
  top:8px;
  width:139px;
  word-wrap:break-word;
}
#u749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:35px;
  background:inherit;
  background-color:rgba(251, 92, 96, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u749 {
  position:absolute;
  left:2435px;
  top:1643px;
  width:143px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u750 {
  position:absolute;
  left:2px;
  top:8px;
  width:139px;
  word-wrap:break-word;
}
#u751 {
  position:absolute;
  left:1956px;
  top:1815px;
  width:0px;
  height:0px;
}
#u751_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:158px;
  height:8px;
}
#u751_seg1 {
  position:absolute;
  left:150px;
  top:-328px;
  width:8px;
  height:332px;
}
#u751_seg2 {
  position:absolute;
  left:150px;
  top:-328px;
  width:120px;
  height:8px;
}
#u751_seg3 {
  position:absolute;
  left:-3px;
  top:-10px;
  width:20px;
  height:20px;
}
#u751_seg4 {
  position:absolute;
  left:255px;
  top:-334px;
  width:20px;
  height:20px;
}
#u752 {
  position:absolute;
  left:104px;
  top:-151px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u753 {
  position:absolute;
  left:1215px;
  top:291px;
  width:0px;
  height:0px;
}
#u753_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:178px;
  height:8px;
}
#u753_seg1 {
  position:absolute;
  left:170px;
  top:-4px;
  width:8px;
  height:1253px;
}
#u753_seg2 {
  position:absolute;
  left:170px;
  top:1241px;
  width:209px;
  height:8px;
}
#u753_seg3 {
  position:absolute;
  left:364px;
  top:1235px;
  width:20px;
  height:20px;
}
#u754 {
  position:absolute;
  left:124px;
  top:630px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u755 {
  position:absolute;
  left:2578px;
  top:1661px;
  width:0px;
  height:0px;
}
#u755_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:86px;
  height:8px;
}
#u755_seg1 {
  position:absolute;
  left:78px;
  top:-1177px;
  width:8px;
  height:1181px;
}
#u755_seg2 {
  position:absolute;
  left:63px;
  top:-1177px;
  width:23px;
  height:8px;
}
#u755_seg3 {
  position:absolute;
  left:-3px;
  top:-10px;
  width:20px;
  height:20px;
}
#u755_seg4 {
  position:absolute;
  left:58px;
  top:-1183px;
  width:20px;
  height:20px;
}
#u756 {
  position:absolute;
  left:32px;
  top:-563px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
